{% extends "base.html" %}
{% block title %}Editar Aluno{% endblock %}
{% block content %}
<div class="card">
    <h1>Editar Aluno: {{ aluno.nome }}</h1>
    <form method="post">
        <div class="form-group">
            <label>Nome do Aluno (não pode ser alterado)</label>
            <input type="text" value="{{ aluno.nome }}" readonly disabled>
        </div>
        <div class="form-group">
            <label for="nascimento">Data de Nascimento:</label>
            <input type="date" id="nascimento" name="nascimento" required value="{{ aluno.nascimento }}">
        </div>
        <div class="form-group">
            <label for="curso">Curso(s):</label>
            <div class="checkbox-group">
                <label>
                    <input type="checkbox" name="curso" value="Lógica de Programação" {% if 'Lógica de Programação' in aluno.curso %}checked{% endif %}> Lógica de Programação
                </label>
                <label>
                    <input type="checkbox" name="curso" value="Linguagens de Programação" {% if 'Linguagens de Programação' in aluno.curso %}checked{% endif %}> Linguagens de Programação
                </label>
                <label>
                    <input type="checkbox" name="curso" value="Algorítimos e Estruturas de dados" {% if 'Algorítimos e Estruturas de dados' in aluno.curso %}checked{% endif %}> Algorítimos e Estruturas de dados
                </label>
            </div>
        </div>
         <div class="form-group">
            <label for="horas_estudo">Média de Horas de Estudo:</label>
            <input type="number" step="0.5" id="horas_estudo" name="horas_estudo" required value="{{ aluno.horas_estudo }}">
        </div>

        {% if usuario %}
        <hr style="border: 0; border-top: 1px solid var(--border-color); margin: 10px 0;">
        <h2 style="font-size: 1.5em; font-weight: 400;">Configurações de Acesso</h2>
        <div class="form-group">
            <label for="role">Permissão (Função):</label>
            <select id="role" name="role">
                <option value="viewer" {% if usuario.role == 'viewer' %}selected{% endif %}>Visitante</option>
                <option value="admin" {% if usuario.role == 'admin' %}selected{% endif %}>Administrador</option>
            </select>
        </div>
        {% endif %}
        
        <div class="form-actions">
            <button type="submit">Salvar Alterações</button>
            <a href="{{ url_for('gerenciar_alunos') }}" class="cancel-btn">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}